@model IEnumerable<SportClubs1.Data.Client>

@using Microsoft.AspNetCore.Identity
@using SportClubs1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/GymsDetails.css" />
</head>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>

        <div class="card-group">
            @foreach (var person in Model)
            {
                <div class="tooltip" data-tooltip="Абонемент закінчується @person.Subscription.Term">
                    <div class="card">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(person.Pfp)" class="card-img-top" alt="Profile Picture">
                        <div class="card-body">
                            <h5 class="card-title">@person.Name @person.Surname</h5>
                            @{
                                var isStaff = false;
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var applicationUser = await UserManager.GetUserAsync(User);
                                    if (applicationUser is not null)
                                    {
                                        isStaff = await UserManager.IsInRoleAsync(applicationUser, "Staff");
                                    }
                                }
                                    @if (isStaff){
                                        <div class="card-text">
                                        <a>Вік: @person.Age</a>
                                        @if (person.Weight != 0)
                                        {
                                            <a>Вага: @person.Weight</a>
                                            
                                        }
                                        @if (person.Height != 0)
                                        {
                                            <a>Зріст: @person.Height</a>
                                        }
                                    </div>
                                }
                            }
                            @* <a href="@Url.Action("Details", "Gyms", new { id = item.Address })" class="btn btn-primary">Детальніше</a> *@
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </tbody>
</table>
