@model SportClubs1.Data.Staff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pfp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pfp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GymAddressNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GymAddressNavigation.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StaffId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
